#img_box{
    background-image: url("../img/0.jpg");
    background-repeat:no-repeat;
    background-size:100% 100%;
    width: 500px;
    height: 300px;
}
.show_text{
    width: fit-content;
    margin: 0px;
    color: #dddddd;
}