html, body{
    font-size: 100%;
	background:	#fff;
	font-family: 'Open Sans', sans-serif;
}
p{
	margin:0;
}
h1,h2,h3,h4,h5,h6,a{
	font-family:'Crete Round', serif;
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
/*-- banner --*/
#slider3, #slider2,#slider4 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.events {
  list-style: none;
}
.callbacks_container {
  position: relative;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  left: 0;
  top: 0;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}
.callbacks_nav {
	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	top: 57%;
	left: 2%;
	opacity: 0.7;
	z-index: 3;
	text-indent: -9999px;
	overflow: hidden;
	text-decoration: none;
	height: 65px;
    width: 50px;
}
.callbacks_nav:active {
	opacity: 1.0;
}
.callbacks_nav.next {
	left: auto;
	right:2%;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
  width:100%;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  left:0%;
  top: 0;
  width:100%;
}
.rslides li{
  position: relative;
  display: block;
  float: none;
  width:100%;
}
.rslides img {
  display: block;
  height: auto;
  float: left;
  border: 0;
  width: 100%;
}
.callbacks_tabs{
	list-style: none;
	position: absolute;
	top:107%;
	z-index: 999;
	left:45.3%;
	padding:0;
	margin: 0;
	border-radius: 5px;
}

.slider-top ul.social-slide{
	display:inline-flex;
	margin: 0px;
	padding: 0px;
}
ul.social-slide li i{
	width:70px;
	height:74px;
	display: inline-block;
	margin:0px 15px;
}
ul.social-slide li i.win{
	background-position:-6px 0px;
}
ul.social-slide li i.android{
	background-position:-110px 0px;
}
ul.social-slide li i.mac{
	background-position:-215px 0px;
}
.callbacks_tabs li{
	display: inline-block;
	margin: 0;
}
@media screen and (max-width: 600px) {
  .callbacks_nav {
    top: 47%;
    }
}
/*----*/
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
	content: "\f111";
	font-size: 0;
    font-family: FontAwesome;
    visibility: visible;
    display: block;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    display: inline-block;
    background: #fff;
    border-radius: 100%;
}
.callbacks_here a:after{
	background: #98B961;
    width: 10px;
    height: 10px;
}
/*------------------ Slider Part ends Here----------*/
.banner{	
    background: url(../img/banner.jpg) no-repeat 0px 0px;
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
}
.logo{
	float:left;
}
.logo a{
	font-size:3.5em;
	color:#fff;
	text-decoration:none;
	font-family: 'Permanent Marker', cursive;
}
.logo a span{
	display:block;
	font-size:14px;
	font-family: 'Open Sans', sans-serif;
	line-height: 0;
}
.reserve{
	margin: 4em 0 0;
	float:right;
}
.reserve a{
	padding: 10px 55px;
    font-size: 16px;
    background: #fff;
    color: #999;
    letter-spacing: 1px;
    text-decoration: none;
    font-family: 'Crete Round', serif;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -o-border-radius: 7px;
    -ms-border-radius: 7px;
}
.b_room {
    padding: 1em;
    text-align: center;
}
.reservation h4 {
    font-size: 1em;
    color: #98B961;
    margin:1.5em 0 0.5em;
}
.reservation h4 span{
	display: block;
    font-size: 14px;
    color: #999;
    margin: 0.5em 0 0;
	font-family: 'Open Sans', sans-serif;
}
.modal-content {
    padding: 2em;
	background: #F4F7F7;
}
.reservation p{
	font-size:1em;
	color:#999;
	margin:0 0 2em;
}
.reservation p span{
	left:-1em;
}
.reservation ul{
	padding:3em 0 0;
}
.reservation ul li{
	display:inline-block;
	font-size:1em;
	color:#999;
}
.reservation ul li:nth-child(2){
	margin:0 0 0 3em;
}
.reservation ul li span{
	color:#98B961;
}
.header {
    margin: 2em 0 0;
}
.banner-info{
	width:80%;
    margin: 15em auto 0;
	text-align:center;
}
.banner-info h1{
	font-size: 3em;
    color: #fff;
    margin: 0;
    letter-spacing: -1px;
    text-transform: capitalize;
}
.banner-info p{
	font-size:14px;
	color:#fff;
	margin:1em 0 0;
	line-height: 1.8em;
}
.banner-info-bottom{
	margin:14em 0 0;
}
.banner-info-bottom ul li{
	display:inline-block;
	margin: 0 1em 0 0;
}
.banner-info-bottom ul li a.p{
	background: url(../img/img-sp.png) no-repeat -8px -10px #fff;
    display: block;
    width: 40px;
    height: 40px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.banner-info-bottom ul li a.p:hover{
	background: url(../img/img-sp.png) no-repeat -72px -10px #fff;
    display: block;
}
.banner-info-bottom ul li a.facebook{
	background: url(../img/img-sp.png) no-repeat -8px -59px #fff;
    display: block;
    width: 40px;
    height: 40px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.banner-info-bottom ul li a.facebook:hover{
	background: url(../img/img-sp.png) no-repeat -73px -59px #fff;
    display: block;
}
.banner-info-bottom ul li a.twitter{
	background: url(../img/img-sp.png) no-repeat -8px -110px #fff;
    display: block;
    width: 40px;
    height: 40px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.banner-info-bottom ul li a.twitter:hover{
	background: url(../img/img-sp.png) no-repeat -73px -110px #fff;
    display: block;
}
.banner-info-bottom ul li a.in{
	background: url(../img/img-sp.png) no-repeat -8px -160px #fff;
    display: block;
    width: 40px;
    height: 40px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.banner-info-bottom ul li a.in:hover{
	background: url(../img/img-sp.png) no-repeat -73px -160px #fff;
    display: block;
}
.banner-info-bottom-left{
	float:left;
}
.banner-info-bottom-right{
	float:left;
	margin: 1em 0 0 20em;
}
.banner button{
	font-family:'Crete Round', serif;
	outline: none;
    border: none;
    width: 100%;
    background: #D19871;
    color: #fff;
    font-size: 14px;
    padding: 12px 0px;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}
/*--------- Progress Tracker ---------*/
.progress-tracker {
	position: fixed;
	top: 55%;
	right: 5%;
	z-index: 9999;
}
.progress-tracker.hide {
  width: 0px;
}
.progress-tracker.hide ul li .pt-description,
.progress-tracker.hide.active ul li .pt-description,
.progress-tracker.hide.constant ul li.active .pt-description {
  display: none;
}
.progress-tracker ul li {
  width: 17px;
  height: 16px;
  position: relative;
  background-color: #ebe9ea;
  border: 1px solid #666;
  margin-bottom: 18px;
  list-style-type: none;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
.progress-tracker ul li a {
  width: 100%;
  height: 100%;
  display: block;
}
.progress-tracker ul li .pt-description {
  display: none;
  width: 100px;
  position: absolute;
  top: -5px;
  right: 25px;
}
.progress-tracker ul li .pt-description span {
  font-size: 16px;
  font-weight: 500;
  float: right;
  text-align: right;
  background-color: #e9ebea;
  padding: 2px 9px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
}
.progress-tracker ul li.active {
	background-color: #98B961;
    border-color: #BAE4CC;
}
.progress-tracker.constant ul li:hover .pt-description {
  display: block;
}
.progress-tracker.constant ul li.active .pt-description {
  display: block;
}
/*-- banner-bottom --*/
.banner-bottom{
	padding:5em 0;
}
.banner-bottom-grid1{
	background:#98B961;
	padding:2em 1em 2.5em;
	text-align:center;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
}
.banner-bottom-grid:hover .banner-bottom-grid1{
	background:#999;
}
.banner-bottom-grid1 span{
	color: #fff;
    font-size: 2em;
    top: 0.5em;
}
.banner-bottom-grid1 p{ 
	font-size:2em;
	color:#fff;
	margin:0.5em 0 0;
}
.banner-bottom-grid2{
	background:#D8B361;
}
.banner-bottom-grid3{
	background:#000;
}
.banner-bottom-grid4{
	background:#CE9871;
}

.about-grid-left{
	text-align:center;
	border-right:1px solid #ccc;
	padding:4em 8em 0 1em;
}
.about-grid-left h3,.about-grid-right h3{
	font-size: 1.5em;
    color: #CE9871;
    margin: 0 0 1em;
    font-family: 'Crete Round', serif;
}
.about-grid-left p,.about-grid-right p{
	font-size:14px;
	color:#999;
	width:70%;
	margin:0 auto;
	line-height:1.8em;
}
.about-grid-right h3{
	margin:10em 0 1em !important;
}	
.about-grids {
    margin: 5em 0 0;
}
.about-grid1{
	position:relative;
}
.about-grid1-pos{
	position:absolute;
	top: 0%;
    left: 39%;
}
.about-grid1-pos1{
	position:absolute;
	top: 60%;
    left: 39%;
}
.about-grid-right{
	padding:0em 1em 0 11em;
	text-align:center;
}
.about-grid-right h4,.about-grid-left h4{
	text-transform:capitalize;
	font-size:2em;
	margin:3em 0 0;
	color:#98B961;
	line-height:1.5em;
}
.about-grid-left h4{
	margin:8em 0 0 !important;
}
.banner-wrap{
	margin: 6em 0;
    background: #eee;
	padding:2em 0;
}
@media screen and (max-width: 25em) {

	.codrops-icon span {
		display: none;
	}

}
/*-- contact --*/
.contact{
	position:relative;
	margin:5em 0 0;
}
.map iframe{
	width:100%;
	margin:0 0 -5px;
}
.map-color,.map iframe{
	min-height:500px;
}
.map-color{
	background:rgba(130, 130, 130, 0.82);
	position:absolute;
	top:0%;
	left:0%;
	width:100%;
}
.contact-grdl{
	padding:0 !important;
}
.contact-grdl span{
	color:#fff;
	font-size:2em;
}
.contact-grdr ul li{
	list-style-type:none;
	color:#fff;
	font-size:14px;
	margin:0 0 1em;
}
.contact-grids{
	position:absolute;
	top: 20%;
    left: 14%;
	width:72%;
}
.address{
	margin:2em 0;
}
.contact-grdr ul li a{
	color:#fff;
	text-decoration:none;
	display:block;
	margin:0.6em 0 0;
}
.contact-grdr ul li a:hover{
	color:#DCC2B0;
}
.contact-grid input[type="text"],.contact-grid input[type="email"],.contact-grid textarea{
	outline: none;
    border: none;
    width: 100%;
    background: rgb(255, 255, 255);
    color: #D19871;
    font-size: 14px;
    padding: 12px 10px;
}
.contact-grid textarea{
	min-height:123px;
	resize:none;
	margin:0 0 .2em;
}
.contact-grid input[type="email"]{
	margin:.5em 0;
}
.contact-grid input[type="submit"]{
	font-family:'Crete Round', serif;
	outline: none;
    border: none;
    width: 100%;
    background: #D19871;
    color: #fff;
    font-size: 14px;
    padding: 12px 0px;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}
.contact-grid input[type="submit"]:hover{
	background:#98B961;
}
.newsletter{
	padding:5em 2em 3em 0.3em;
    text-align: center;
	border:3px solid rgba(255, 255, 255, 0.45);
}
.newsletter h3{
	font-size:1.5em;
	color:#fff;
	margin:0;
	text-align: center;
}
.newsletter h3 span{
	font-size:1.5em;
	top:-1em;
	left:2.1em;
}
/*-- footer --*/
.footer{
	background:#3D3C3C;
	padding:1.5em 0;
}
.footer p{
	text-align:center;
	font-size:14px;
	color:#fff;
	margin:0;
}
.footer p a{
	color:#fff;
}
.footer p a:hover{
	color:#D19871;
}
/*-- //footer --*/
@media (max-width:1440px){
	.grid li {
		width: 469px;
	}
}
@media (max-width:1366px){
	.about-grid-left p, .about-grid-right p {
		width: 75%;
	}
}
@media (max-width:1280px){
	.banner-info {
		margin: 10em auto 0;
	}
	.banner {
		min-height: 725px;
	}
	.contact-grids {
		left: 6%;
		width: 85%;
	}
}
@media (max-width:1024px){
	.banner {
		min-height: 680px;
	}
	.banner-info h1 {
		font-size: 2.5em;
	}
	.banner-info-bottom-right {
		margin: 1em 0 0 15em;
	}
	.banner-bottom-grid1 p {
		font-size: 1.7em;
	}
	.banner-bottom-grid1 span {
		top: 0em;
	}
	.about-grid-right {
		padding: 0em 1em 0 10em;
	}
	.about-grid-right h4, .about-grid-left h4 {
		font-size: 1.7em;
	}
	.banner-bottom {
		padding: 4em 0;
	}
	.cs-style-6 figcaption h4 {
		margin-top: 70%;
	}
	.cs-style-6 figcaption p {
		margin: 0;
	}
	.banner-wrap {
		margin: 4em 0 5em;
	}
	.contact {
		margin: 2em 0 0;
	}
	.contact-grids {
		left: 3%;
		width: 95%;
		top: 15%;
	}
	.map-color, .map iframe {
		min-height: 410px;
	}
}
@media (max-width:768px){
	.logo a {
		font-size: 3em;
	}
	.reserve {
		margin: 3em 0 0;
	}
	.banner-info h1 {
		font-size: 2em;
	}
	.banner-info {
		width: 90%;
	}
	.banner-info-bottom ul li {
		margin: 0 0.3em 0 0;
	}
	.banner-info-bottom {
		margin: 10em 0 0;
	}
	.banner {
		min-height: 605px;
		background: url(../img/banner.jpg) no-repeat -190px 0px;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		-ms-background-size: cover;
	}
	.banner-info-bottom-right {
		margin: 1em 0 0 10.5em;
	}
	.banner-bottom-grid {
		float: left;
		width: 46%;
	}
	.banner-bottom-grid:nth-child(2) {
		margin: 0 0 2em;
	}
	.about-grid-left {
		border-right: none;
		padding: 2em 21em 0 0em;
	}
	.about-grid1-pos {
		left: 58%;
	}
	.about-grid-left h4 {
		margin: 1em 0 0 !important;
	}
	.about-grid1-pos1 {
		top:58%;
		left: 0%;
	}
	.about-grid-right h3 {
		margin: 0em 0 1em !important;
	}
	.about-grid-right {
		padding: 1em 1em 0 15em;
	}
	.banner-wrap {
		margin: 4em 0 10em;
	}
	.wmuSliderPagination {
		bottom: 1%;
	}
	.contact-grids {
		top: 6%;
	}
	.contact-grid:nth-child(2) {
		margin: 2em 0;
	}
	.map-color, .map iframe {
		min-height: 980px;
	}
}
@media (max-width:667px){
	.logo a {
		font-size: 2.5em;
	}
	.reserve {
		margin: 2.5em 0 0;
	}
	.banner-info {
		width: 95%;
	}
}
@media (max-width:640px){
	.header {
		margin: 1em 0 0;
	}
	.banner-info h1 {
		font-size: 1.8em;
	}
	.banner-info {
		margin: 7em auto 0;
	}
	.banner {
		min-height: 525px;
	}
	.banner-info-bottom-right {
		margin: 1em 0 0 7em;
	}
	.reserve a {
		padding: 9px 45px;
	}
	.banner-bottom{
		padding: 3em 0;
	}
	.banner-bottom-grid1 p {
		margin: 0;
	}
	.banner-bottom-grid {
		width: 50%;
	}
	.about-grid-left {
		padding: 2em 14em 0 0em;
	}
	.about-grid-right h4, .about-grid-left h4 {
		font-size: 1.4em;
	}
	.about-grid-left h4 {
		margin: 0.5em 0 0 !important;
	}
	.about-grid-right {
		padding: 3em 1em 0 14em;
	}
	.about-grids {
		margin: 4em 0 0;
	}
}
@media (max-width:600px){
	.about-grid1-pos img {
		width: 100%;
	}
	.about-grid1-pos {
		width: 36%;
	}
}
@media (max-width:480px){
	.logo a {
		font-size: 2em;
	}
	.reserve a {
		padding: 9px 38px;
		font-size:14px;
	}
	.reserve {
		margin: 1.5em 0 0;
	}
	.banner-info h1 {
		font-size: 1.5em;
	}
	.banner-info {
		margin: 5em auto 0;
	}
	.callbacks_tabs {
		left: 38.3%;
	}
	.banner-info-bottom {
		margin: 8em 0 0;
	}
	.banner {
		min-height: 430px;
		background: url(../img/banner.jpg) no-repeat -240px 0px;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		-ms-background-size: cover;
	}
	.modal-content {
		width: 85%;
		margin: 0 auto;
	}
	.banner-bottom-grid1 p {
		font-size: 1.4em;
	}
	.banner-bottom-grid1 {
		padding: 1em 1em 1.5em;
	}
	.about-grids {
		margin: 3em 0 0;
	}
	.banner-bottom {
		padding: 3em 0 !important;
	}
	.about-grid-left {
		padding: 1em 0 5em 0em;
	}
	.about-grid1-pos {
		width: 40%;
		top: 29%;
		left: 30%;
	}
	.about-grid-right {
		padding: 6em 1em 10em 0;
	}
	.about-grid1-pos1 img {
		width: 100%;
	}
	.about-grid1-pos1 {
		top: 83%;
		left: 27%;
		width: 40%;
	}
	.banner-wrap {
		margin: 4em 0 12em;
	}
	.wmuSliderPagination {
		bottom: 0%;
	}
	.banner-bottom {
		padding: 2em 0;
	}
	.mdia {
		display: none;
	}
}
@media (max-width: 414px){
	.reserve a {
		padding: 8px 30px;
		font-size: 13px;
	}
	.logo a {
		font-size: 1.7em;
	}
	.reserve {
		margin: 1.3em 0 0;
	}
	.logo a span {
		font-size: 12px;
	}
	.banner-info h1 {
		font-size: 1.2em;
		letter-spacing: 0px;
	}
	.banner-info {
		width: 100%;
		margin: 4em auto 0;
	}
	.banner-info-bottom {
		margin: 6em 0 0;
	}
	.banner {
		min-height: 380px;
	}
	.banner-bottom-grid1 span {
		font-size: 1.5em;
	}
	.about-grid-left {
		padding: 0em 0 2em 0em;
	}
	.about-grid1-pos {
		top: 27%;
	}
	.about-grid-right h3 {
		margin: 1em 0 0.5em !important;
		font-size: 1.2em;
	}
	.about-grid-left h3, .about-grid-right h3 {
		font-size: 1.2em;
	}
	.about-grid-left p, .about-grid-right p {
		width: 100%;
	}
	.about-grid-right h4, .about-grid-left h4 {
		font-size: 1.2em;
	}
	.about-grid-right {
		padding: 6em 1em 8em 0;
	}
	.about-grid1-pos1 {
		top: 85%;
	}
	.wmuSliderPagination a {
		width: 10px;
		height: 10px;
	}
	.reservation ul li {
		font-size: 14px;
	}
	.b_room {
		padding: 0em;
	}
	.reservation ul {
		padding: 2em 0 0;
	}
	.contact-grids {
		top: 4%;
	}
	.address {
		margin: 1em 0;
	}
	.contact-grid input[type="text"], .contact-grid input[type="email"], .contact-grid textarea {
		padding: 10px;
	}
	.contact-grid input[type="submit"] {
		padding: 10px 0px;
	}
	.map-color, .map iframe {
		min-height: 885px;
	}
}
@media (max-width:384px){
	.banner {
		min-height: 405px;
	}
}
@media (max-width:375px){
	.banner-info-bottom-left {
		float: none;
	}
	.banner-info-bottom-right {
		margin: 1em 0 0 10em;
		float: none;
	}
	.callbacks_tabs {
		left: 37.3%;
		top: 102%;
	}
	.banner-info-bottom {
		margin: 4em 0 0;
	}
	.banner-info-bottom {
		margin: 4em 0 0;
	}
	.banner {
		min-height: 425px;
	}
	.reserve a {
		letter-spacing: 0px;
	}
	.reserve {
		margin: 1em 0 0;
	}
}
@media (max-width:320px){
	.logo a {
		font-size: 1.5em;
	}
	.reserve a {
		padding: 5px 18px;
		font-size: 12px;
	}
	.logo a span {
		font-size: 11px;
	}
	.reserve {
		margin: 0.6em 0 0;
	}
	.banner-info h1 {
		font-size: 1em;
		line-height: 1.5em;
	}
	.banner-info p {
		font-size: 13px;
		margin: 0;
	}
	.callbacks_tabs {
		left: 32.3%;
	}
	.banner-info-bottom {
		margin: 5em 0 0;
	}
	.banner-info-bottom-right a img {
		width: 11%;
	}
	.banner-info-bottom-right {
		margin: 1em 0 0 8.3em;
	}
	.banner {
		min-height: 415px;
	}
	.banner-info-bottom ul li {
		margin: 0;
	}
	.banner-bottom {
		padding: 2em 0 !important;
	}
	.banner-bottom-grid {
		width: 90%;
		float: none;
		margin: 0 auto;
	}
	.banner-bottom-grid:nth-child(2) {
		margin: 2em auto;
	}
	.banner-bottom-grid:nth-child(3) {
		margin: 0em auto 2em;
	}
	.progress-tracker ul li .pt-description span {
		font-size: 13px;
	}
	.progress-tracker ul li {
		width: 12px;
		height: 12px;
	}
	.about-grids {
		margin: 2em 0 0;
	}
	.about-grid-left h3, .about-grid-right h3 {
		margin: 0 0 0.5em;
	}
	.about-grid-left p, .about-grid-right p {
		font-size: 13px;
	}
	.about-grid1-pos {
		width: 50%;
		left: 25%;
	}
	.about-grid-right {
		padding: 6em 1em 7em 0;
	}
	.about-grid1-pos1 {
		left: 23%;
		width: 50%;
	}
	.reservation img {
		width: 50%;
		margin: 0 auto;
	}
	.modal-content {
		width: 95%;
		padding:1.5em 1em 1.5em;
	}
	.reservation h4 span,.reservation ul li,. {
		font-size: 13px;
	}
	.reservation p {
		font-size: 14px;
		margin: 0 0 1.2em;
	}
	.reservation ul {
		padding: 1.5em 0 0;
	}
	.contact {
		margin: 0;
	}
	.contact-grdr ul li {
		font-size: 13px;
		margin: 0 0 0.4em;
	}
	.contact-grdl span {
		font-size: 1.3em;
	}
	.contact-grid input[type="text"], .contact-grid input[type="email"], .contact-grid textarea,.footer p {
		font-size: 13px;
	}
	.newsletter h3 span {
		font-size: 1.2em;
		left: 2.5em;
	}
	.newsletter {
		padding: 4em 1em 2.5em 0.3em;
	}
	.newsletter h3 {
		font-size: 1.3em;
	}
	.map-color, .map iframe {
		min-height: 780px;
	}
	.footer {
		padding: 1.2em 0;
	}
}