{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>creat</title>
    <script>
        let file_path = "{{ file_path }}";
        let img_num = {{ img_num }};
    </script>
    <script src="{% static "jqueryUI/jquery.js" %}"></script>
    <script src="{% static "jqueryUI/jquery-ui.js" %}"></script>
    <script src="{% static "js/creat.js" %}"></script>
    <link rel="stylesheet" href="{% static "jqueryUI/jquery-ui.css" %}">
    <link rel="stylesheet" href="{% static "css/creat.css" %}">
</head>
<body>
<div id="head"></div>
<div id="img_box"></div>
<div id="img_slider"></div>
<div id="line"></div>
<div id="text_item_slider"></div>
<input id="in_text">
<button id="bu_alter">修改</button>
<button id="bu_add">添加</button>

<!--text_list表-->
<div id="text_list">


</div>

<button id="bu_creat">开始制作</button>
<div id="foot"></div>
</body>
</html>