<footer data-am-widget="footer" class="am-footer am-footer-default" data-am-footer="{  }" id="footer">
    <div class="am-footer-switch">
    <span class="am-footer-ysp" data-rel="mobile"
          data-am-modal="{target: '#am-switch-mode'}">
          简易版
    </span>
      <span class="am-footer-divider"> | </span>
      <a id="godesktop" data-rel="desktop" class="am-footer-desktop" href="javascript:">
          电脑版
      </a>
    </div>
    <div class="am-footer-miscs ">

          <p>由 <a href="http://www.ujn.edu.cn/" title="济南大学"
                                                target="_blank" class="">济南大学</a>
            提供技术支持</p>
        <p>Copyright &copy;xyl 2018.</p>
        <p>鲁ICP备123456</p>
    </div>
  </footer>