<header id="amz-header">
<div id= menu class="amz-container am-cf">
    <h1 style="font-size:30px"> Emoticon</h1>
    <button class="am-btn am-btn-primary am-show-sm-only" data-am-collapse="{target: '.amz-header-nav'}">
        <span class="am-sr-only">导航切换</span>
        <span class="am-icon-bars"></span>
    </button>
    <nav>
        <ul class="amz-header-nav am-collapse">
            <li id="nav_model"><a href="/my_demo_app/template">模板</a></li>
            <li id="nav_upload"><a href="/my_demo_app/upload">自己制作</a></li>
            <li id="nav_other"><a href="#">其他</a></li>
        </ul>
    </nav>
 </div>
 </header>