{% load static %}
<meta charset="UTF-8">
<script src="{% static "jqueryUI/jquery.js" %}"></script>
<script src="{% static "jqueryUI/jquery-ui.js" %}"></script>
<script src="http://cdn.amazeui.org/amazeui/2.7.2/js/amazeui.js"></script>
<script src="http://cdn.amazeui.org/amazeui/2.7.2/js/amazeui.ie8polyfill.js"></script>
<script src="http://cdn.amazeui.org/amazeui/2.7.2/js/amazeui.widgets.helper.js"></script>
<link rel="stylesheet" href="{% static "jqueryUI/jquery-ui.css" %}">
<link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.7.2/css/amazeui.css">
<link rel="stylesheet" href="http://s.amazeui.org/assets/2.x/css/amaze.min.css?v=ivnei789">