{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'include.html' %}
    <script src="{% static "js/upload.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/creat.css" %}">
    <link rel="stylesheet" href="{% static "css/upload.css" %}">
    <title>upload</title>
</head>
<body>
{% include 'header.html' %}
<div id="main">
    <div>
        <input type="file" style="display:none" id="file_upload">
        <img src="../static/img/upload.png" onclick="img_click()">
    </div>
    <input type="button" value="点击图片选择文件" onclick="FileUpload()" id="bu_upload"
    class="am-btn am-btn-primary am-radius">
    <p id="show_massage"></p>
</div>
{% include 'footer.html' %}
</body>
</html>